@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #29121e;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3d172b;
}

::-webkit-scrollbar-thumb:hover {
  background: #4d1c36;
}
